body {
font-family: sans-serif;
font-size: 0.9rem;
color: 474F84;
}

small {
font-size: 0.7rem;
}

a {
text-decoration: none;
color: #7A2F2F;
font-weight: 600;
font-size: 0.75rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid #eee;
    padding-right: 10px;
    font-size: 0.9rem;
}

td.right {
text-align:right;
}

th {
    font-weight: bold;
}

tr.afd:nth-child(even) {

background-color: #f2f2f2;

} 

tr.other:nth-child(even) {
background-color: #f2f2f2;
} 

/* Styles for tablesorter */
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* styles for AFDClose.js */

.del {

background-color: #ff00001a;

}

.rm {

background-color: #ffff001a;

}

.keep {

background-color: #00ff001a;

}

.nc {

background-color: #0000ff1a;

}

#footer {

width: 100%; 
height: 35px; 
position:fixed; 
bottom: 0px; 
left: 0px;
vertical-align: center; 
text-align: center;
font-size: 0.75rem;
background-color: #dbd8d8;
padding-top: 5px;
}

h4 {
margin-bottom: 0;
text-decoration: underline;
color: black;
}

ul, p {
width: 40%;
min-width: 300px;
}

input::placeholder {
color: #666;
}

.container {
display: flex;
width: 100%; 
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
 align-items: flex-start;
} 

.box {
margin: 0.5rem;
text-align: center;
border: 1px solid #eee;
max-width: 575px;
}

// Code for collapsible box
label.expand {
  display: block;
  padding: 0.5em;
  text-align: center;
}
label.expand:hover {
  color: #555;
}
label.expand::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 400px;
  overflow: auto;

}
#toggle:checked ~ label.expand::before {
  content: "-";
}
